.LandingPage {
    background-image: url('https://cdn.pixabay.com/photo/2019/12/04/17/12/overlook-4673196_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}